<div class="timeline-container">
  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3 class="timeline-title">Minhas Competências</h3>
        <span class="timeline-period">Atualização de habilidades e tecnologias</span>

        <p class="timeline-role"><strong>Linguagens de Programação:</strong></p>
        <ul>
          <li>C#</li>
          <li>JavaScript</li>
          <li>HTML</li>
        </ul>

        <p class="timeline-role"><strong>Frameworks e Tecnologias:</strong></p>
        <ul>
          <li>.NET (incluindo .NET Framework, ASP.NET MVC, ASP.NET)</li>
          <li>ASP.NET MVC</li>
          <li>Angular</li>
        </ul>

        <p class="timeline-role"><strong>Banco de Dados:</strong></p>
        <ul>
          <li>Microsoft SQL Server</li>
          <li>MongoDB</li>
          <li>MySQL</li>
          <li>PostgreSQL</li>
          <li>HANA</li>
        </ul>

        <p class="timeline-role"><strong>Ferramentas de Desenvolvimento:</strong></p>
        <ul>
          <li>Git</li>
        </ul>

        <p class="timeline-role"><strong>Desenvolvimento de Software:</strong></p>
        <ul>
          <li>Desenvolvimento de APIs</li>
          <li>Microsserviços</li>
          <li>Refatoração de código legados</li>
          <li>Desenvolvimento de Endpoints</li>
          <li>DevSecOps (Com foco em segurança da aplicação)</li>
          <li>Autenticação de APIs</li>
          <li>Integrações SAP</li>
          <li>Manutenção de portais</li>
          <li>Pipelines CI CD</li>
        </ul>
        <p class="timeline-role"><strong>Metodologias Ágeis:</strong></p>
        <ul>
          <li>Scrum</li>  
        </ul>
        <p class="timeline-role"><strong>Outras Habilidades:</strong></p>
        <ul>
            <li>Comunicação Eficaz</li>
            <li>Trabalho em Equipe</li>
            <li>Resolução de Problemas</li>
            <li>Aprendizado Contínuo</li>
        </ul>
      </div>
    </div>
    <hr class="timeline-separator">

    <!-- Suas outras experiências seguem aqui... -->

  </div>
</div>
